.jumbotron {
  position: relative;
  top: -60px;
  width: 100%;
  z-index: 0;
  border-radius: 0;
  background-color: #0b3d1d;
  background-size: cover;
  padding-top: 100px;
  min-height: 460px;
}
#nav-home {
  background-color: transparent !important;
  position: relative;
  z-index: 10;
}
.jumbotron-img {
  width: 100%;
  opacity: 0.9;
}
#home-search {
  background-color: transparent;
  color: #f8f8f8;
  border-color: #093c1c;
}
#home-search::placeholder {
  color: #86ac7a;
  opacity: 1;
}

#home-search:-ms-input-placeholder {
  color: #86ac7a;
}

#home-search::-ms-input-placeholder {
  color: #86ac7a;
}
.features-container {
  margin-top: -56px;
}
.lnk {
  z-index: 1000 !important;
}
